# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
/node_modules
/.pnp
.pnp.js

# Build directories
/build
/dist

# Static files
/public/static

# Coverage directory used by testing tools
/coverage

# Parcel-bundler cache
.cache
.parcel-cache

# MacOS files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variable file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# SASS cache
.sass-cache/

# Yarn
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# React Native
.expo
.expo-shared

# Miscellaneous
npm-debug.log*
yarn-debug.log*
.yarn-integrity
package-lock.json
yarn.lock

# JetBrains IDE files
/.idea
/out/
*.iml
